<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>

        <title>Smart-Dressing</title>
    </head>
    <body>
        {% include "header.twig" %} 
        <div class="dashboard">
            <h1>Hello user !</h1>

            <div class="customHelloMessage">
                Today's temperature in <b>{{wheather["name"]}}</b> is {{wheather["main"]["feels_like"]}}°C
            </div>

            <p>wardrobe {{ wardrobe.id }} </p>
            <button class="newCloth">Add cloth</button>
            <div class="removeWardrobe" onclick="removeWardrobe()">- Remove Wardrobe</div>  
            <button class="getMyCloth">Get my cloth for today!</button>
        </div>
        <script>
            function removeWardrobe() {
                window.location.href = "/remove/wardrobe/{{wardrobe.id}}"
            }
        </script>
    </body>
</html>