<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>

        <title>Smart-Dressing</title>
    </head>
    <body>
        {% include "header.twig" %} 
        <div class="dashboard">
            <div class="top">
                <div class="left">
                    <h1>Hello user !</h1>

                    <div class="customHelloMessage">
                        Today's temperature in <b>{{wheather["name"]}}</b> is {{wheather["main"]["feels_like"]}}°C
                    </div>

                    <div class="clothersList">
                        {% for cloth in clothers %}
                            <div class="cloth" id="{{cloth.id}}">
                                <div class="imageLoc">
                                    <img class="image" src="{{ asset('images/cloth.png') }}" alt="Default cloth" style="background-color:{{cloth.color}};">
                                </div>

                                <div class="name">Vettement {{cloth.id}}</div>

                                <div class="specs">
                                    <div class="color">Color: {{cloth.color}}</div>
                                    <div class="quantity">Quantity: {{cloth.quantity}}</div>
                                    <div class="fabric">Fabric: {{cloth.fabric}}</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="removeWardrobe" onclick="removeWardrobe()">- Remove Wardrobe n°{{wardrobe.id}}</div>  

                </div>

                <div class="right">
                    <div class="new">
                        <button class="newButton" onclick="newPage()">New</button>
                    </div>
                </div>
            </div>

            <div class="bottom">
                <button class="getMyCloth" onclick="getMyCloth()">Get my cloth for today!</button>
            </div>
        </div>

        <script>
            function removeWardrobe() {
                window.location.href = "/remove/wardrobe/{{wardrobe.id}}"
            }

            function newPage() {
                window.location.href = "/new"
            }

            function getMyCloth() {
                window.location.href = "/getCloth"
            }
        </script>
    </body>
</html>