<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>

        <title>Smart-Dressing</title>
    </head>
    <body>
        {% include "header.twig" %} 
        <div class="dashboard">
            <div class="top">
                <div class="left">
                    <div class="clothersList">
                        {% for cloth in items %}
                            <div class="cloth" id="{{cloth.id}}">
                                <div class="del" onClick="remove({{cloth.id}})">
                                    -
                                </div>
                                <div class="imageLoc">
                                    <img class="image" src="{{ asset('images/cloth.png') }}" alt="Default cloth" style="background-color:{{cloth.color}};">
                                </div>

                                <div class="name">Vettement {{cloth.id}}</div>

                                <div class="specs">
                                    <div class="color">Color: {{cloth.color}}</div>
                                    <div class="quantity">Quantity: {{cloth.quantity}}</div>
                                    <div class="fabric">Fabric: {{cloth.fabric}}</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </body>
    
    <script>
    
    function remove(cloth) {
        window.location.href = `/remove/cloth/${cloth}/`
    }

    </script>
</html>